{# item \Base\AdminBundle\Entity\Product #}
{% set items = products['items'] %}
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th> # </th>
                <th> Status </th>
                <th> Main Image </th>
                <th> Name </th>
                <th> Price</th>
                <th> Date </th>
                <th> Actions </th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td> {{ loop.index }} </td>
                <td>
                    {% if item.active %}
                        <span class="label label-sm label-info"> Active </span>
                    {% else %}
                        <span class="label label-sm label-danger"> Inactive </span>
                    {% endif %}
                    {% if item.newStatus %}
                        <span class="label label-sm label-danger"> New </span>
                    {% endif %}
                </td>
                <td>
                    {% if item.mainImage is not null and item.mainImage | trim != "" %}
                        <div class="focuspoint"
                             data-focus-x="0"
                             data-focus-y="0"
                             data-image-w="100"
                             data-image-h="100">
                            <img src="{{ resizeImage(absolute_url(product_directory ~ item.mainImage), 100, 100, 2) }}" alt="">
                        </div>
                    {% else %}
                        <img src="http://www.placehold.it/100x100/EFEFEF/AAAAAA&text=no+image" alt="">
                    {% endif %}
                </td>
                <td>
                    <div>{{ item.name }}</div>
                    <div>{{ item.slug }}</div>
                </td>
                <td>
                    <div>Price: {{ formatCurrency(item.price) }}</div>
                    <div>SalePrice: {{ formatCurrency(item.salePrice) }}</div>
                    {% if item.saleStatus %}
                        <div><span class="label label-sm label-success"> Sale </span></div>
                    {% endif %}
                </td>
                <td>
                    <div>Create: {{ item.createdDate.format('d/m/Y H:i') }} </div>
                    <div>Update: {{ item.updatedDate.format('d/m/Y H:i') }} </div>
                </td>
                <td>
                    <a href="{{ path('base_admin_product_update', { 'id': item.id }) }}" class="btn btn-sm green-meadow"><i class="fa fa-edit"></i> Edit </a>
                    <a href="javascript:;" onclick="PortletAjax.removeContent({{ item.id }})" class="btn btn-sm btn-danger"><i class="fa fa-remove"></i> Delete </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{{ paginationView | raw }}