{% extends '@BaseFrontend/Template/layout.html.twig' %}

{% block body %}
    {% include 'BaseFrontendBundle:Widget:banner.html.twig' %}
    <div class="main">
        <div class="container">
            {% include 'BaseFrontendBundle:Widget:new_arrivals.html.twig' %}
            <!-- BEGIN SIDEBAR & CONTENT -->
            <div class="row margin-bottom-40">
                <!-- BEGIN SIDEBAR -->
                <div class="sidebar col-md-3 col-sm-4">
                    {% if categoryTree | length > 0 %}
                        <ul class="list-group margin-bottom-25 sidebar-menu">
                            {# sidebarCate \Base\AdminBundle\Entity\Category #}
                            {% for sidebarCate in categoryTree %}
                                <li class="list-group-item clearfix dropdown">
                                    <a href="{{ sidebarCate.getLinkDetail }}" class="collapsed">
                                        <i class="fa fa-angle-right"></i>
                                        {{ sidebarCate.name }}
                                    </a>
                                    {% if sidebarCate.children | length > 0 %}
                                        <ul class="dropdown-menu" style="display:block;">
                                            {% for sidebarCateChild in sidebarCate.children %}
                                                <li><a href=""><i class="fa fa-angle-right"></i>{{ sidebarCateChild.name }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <!-- END SIDEBAR -->
                <!-- BEGIN CONTENT -->
                <div class="col-md-9 col-sm-8">
                    {#<h2>Three items</h2>#}
                    <div class="owl-carousel owl-carousel3 margin-bottom-40">
                        {% for randomProduct in products['items'] | slice(0,3) %}
                            {% include 'BaseFrontendBundle:Widget:product_item.html.twig' with { slug: 'product-random',  product: randomProduct } %}
                        {% endfor %}
                    </div>
                    <div class="owl-carousel owl-carousel3 margin-bottom-40">
                        {% for randomProduct in products['items'] | slice(3,6) %}
                            {% include 'BaseFrontendBundle:Widget:product_item.html.twig' with { slug: 'product-random',  product: randomProduct } %}
                        {% endfor %}
                    </div>
                    <div class="owl-carousel owl-carousel3">
                        {% for randomProduct in products['items'] | slice(6,9) %}
                            {% include 'BaseFrontendBundle:Widget:product_item.html.twig' with { slug: 'product-random',  product: randomProduct } %}
                        {% endfor %}
                    </div>
                </div>
                <!-- END CONTENT -->
            </div>
            <!-- END SIDEBAR & CONTENT -->
        </div>
    </div>

    {% if products['total'] > 0 %}
        {% for randomProduct in products['items'] | slice(0,9) %}
            {% include 'BaseFrontendBundle:Widget:product_popup.html.twig' with { slug: 'product-random',  product: randomProduct } %}
        {% endfor %}
    {% endif %}

    <!-- BEGIN BRANDS -->
    {#<div class="brands">#}
        {#<div class="container">#}
            {#<div class="owl-carousel owl-carousel6-brands">#}
                {#<a href="shop-product-list.html"><img src="{{ absolute_url(asset('assets_frontend/pages/img/brands/canon.jpg')) }}" alt="canon" title="canon"></a>#}
                {#<a href="shop-product-list.html"><img src="{{ absolute_url(asset('assets_frontend/pages/img/brands/esprit.jpg')) }}" alt="esprit" title="esprit"></a>#}
                {#<a href="shop-product-list.html"><img src="{{ absolute_url(asset('assets_frontend/pages/img/brands/gap.jpg')) }}" alt="gap" title="gap"></a>#}
                {#<a href="shop-product-list.html"><img src="{{ absolute_url(asset('assets_frontend/pages/img/brands/next.jpg')) }}" alt="next" title="next"></a>#}
                {#<a href="shop-product-list.html"><img src="{{ absolute_url(asset('assets_frontend/pages/img/brands/puma.jpg')) }}" alt="puma" title="puma"></a>#}
                {#<a href="shop-product-list.html"><img src="{{ absolute_url(asset('assets_frontend/pages/img/brands/zara.jpg')) }}" alt="zara" title="zara"></a>#}
                {#<a href="shop-product-list.html"><img src="{{ absolute_url(asset('assets_frontend/pages/img/brands/canon.jpg')) }}" alt="canon" title="canon"></a>#}
                {#<a href="shop-product-list.html"><img src="{{ absolute_url(asset('assets_frontend/pages/img/brands/esprit.jpg')) }}" alt="esprit" title="esprit"></a>#}
                {#<a href="shop-product-list.html"><img src="{{ absolute_url(asset('assets_frontend/pages/img/brands/gap.jpg')) }}" alt="gap" title="gap"></a>#}
                {#<a href="shop-product-list.html"><img src="{{ absolute_url(asset('assets_frontend/pages/img/brands/next.jpg')) }}" alt="next" title="next"></a>#}
                {#<a href="shop-product-list.html"><img src="{{ absolute_url(asset('assets_frontend/pages/img/brands/puma.jpg')) }}" alt="puma" title="puma"></a>#}
                {#<a href="shop-product-list.html"><img src="{{ absolute_url(asset('assets_frontend/pages/img/brands/zara.jpg')) }}" alt="zara" title="zara"></a>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    <!-- END BRANDS -->

    <!-- BEGIN STEPS -->
    <div class="steps-block steps-block-red">
        <div class="container">
            <div class="row">
                <div class="col-md-4 steps-block-col">
                    <i class="fa fa-truck"></i>
                    <div>
                        <h2>Giao Hàng Nhanh</h2>
                    </div>
                    <span>&nbsp;</span>
                </div>
                <div class="col-md-4 steps-block-col">
                    <i class="fa fa-gift"></i>
                    <div>
                        <h2>Quà Tặng Hấp Dẫn</h2>
                    </div>
                    <span>&nbsp;</span>
                </div>
                <div class="col-md-4 steps-block-col">
                    <i class="fa fa-phone"></i>
                    <div>
                        <h2>091 829 4729</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END STEPS -->
{% endblock %}