{# item \Base\AdminBundle\Entity\Banner #}
{% set items = banners['items'] %}
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th> # </th>
                <th> Status </th>
                <th> Main Image </th>
                <th> Name </th>
                <th> Created Date </th>
                <th> Updated Date </th>
                <th> Actions </th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td> {{ loop.index }} </td>
                <td>
                    {% if item.active %}
                        <span class="label label-sm label-info"> Active </span>
                    {% else %}
                        <span class="label label-sm label-danger"> Inactive </span>
                    {% endif %}
                </td>
                <td>
                    {% if item.image is not null and item.image | trim != "" %}
                        <div class="focuspoint"
                             data-focus-x="0"
                             data-focus-y="0"
                             data-image-w="100"
                             data-image-h="100">
                            <img src="{{ resizeImage(absolute_url(banner_directory ~ item.image), 100, 100, 2) }}" alt="{{ item.name }}">
                        </div>
                    {% else %}
                        <img src="http://www.placehold.it/100x100/EFEFEF/AAAAAA&text=no+image" alt="{{ item.name }}">
                    {% endif %}
                </td>
                <td> {{ item.name }} </td>
                <td> {{ item.createdDate.format('d/M/Y H:i') }} </td>
                <td> {{ item.updatedDate.format('d/M/Y H:i') }} </td>
                <td>
                    <a href="{{ path('base_admin_banner_update', { 'id': item.id }) }}" class="btn btn-sm green-meadow"><i class="fa fa-edit"></i> Edit </a>
                    <a href="javascript:;" onclick="PortletAjax.removeContent({{ item.id }})" class="btn btn-sm btn-danger"><i class="fa fa-remove"></i> Delete </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{{ paginationView | raw }}