{% extends '@BaseAdminBundle/Template/base-amaze-admin.html.twig' %}

{% block right_content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form id="allInputsFormValidation" class="form-horizontal" action="{{ path('base_admin_account_create') }}" method="post" novalidate="novalidate">
                        <div class="content">
                            <h4 class="title">Tạo tài khoản</h4>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        Trạng thái
                                    </label>
                                    <div class="col-md-10">
                                        <label class="radio">
                                            <span class="icons"><span class="first-icon fa fa-circle-o"></span><span class="second-icon fa fa-dot-circle-o"></span></span>
                                            <input type="radio" data-toggle="radio" name="status" value="1" checked="checked"> Đang hoạt động
                                        </label>
                                        <label class="radio">
                                            <span class="icons"><span class="first-icon fa fa-circle-o"></span><span class="second-icon fa fa-dot-circle-o"></span></span>
                                            <input type="radio" data-toggle="radio" name="status" value="0"> Ngưng hoạt động
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        Họ tên
                                    </label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="text" name="name" required="required">
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        Email
                                    </label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="email" name="email" email="true" required="required">
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        Số điện thoại
                                    </label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="text" name="phone" number="true">
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        Tên đăng nhập
                                    </label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="text" name="username">
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        Mật khẩu
                                    </label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="password" name="password">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="card-footer text-right">
                            <a href="{{ path('base_admin_account_index') }}" class="btn">
                                <span class="btn-label">
                                    <i class="ti-angle-left"></i>
                                </span>
                                Trở về danh sách tài khoản
                            </a>
                            <button type="submit" class="btn btn-info btn-fill">Lưu thông tin</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <!-- Forms Validations Plugin -->
    <script src="{{ absolute_url(asset('assets/vendors/jquery.validate.min.js')) }}"></script>
    <!--  Plugin for Date Time Picker and Full Calendar Plugin-->
    <script src="{{ absolute_url(asset('assets/vendors/moment.min.js')) }}"></script>
    <!--  Charts Plugin -->
    <script src="{{ absolute_url(asset('assets/vendors/chartist.min.js')) }}"></script>
    <!--  Plugin for the Wizard -->
    <script src="{{ absolute_url(asset('assets/vendors/jquery.bootstrap-wizard.js')) }}"></script>
    <!--  Notifications Plugin    -->
    <script src="{{ absolute_url(asset('assets/vendors/bootstrap-notify.js')) }}"></script>
    <!-- DateTimePicker Plugin -->
    <script src="{{ absolute_url(asset('assets/vendors/bootstrap-datetimepicker.js')) }}"></script>
    <!--  Checkbox, Radio, Switch and Tags Input Plugins -->
    <script src="{{ absolute_url(asset('assets/js/bootstrap-checkbox-radio-switch-tags.js')) }}"></script>
    <!-- Vector Map plugin -->
    <script src="{{ absolute_url(asset('assets/vendors/jquery-jvectormap.js')) }}"></script>
    <!-- Sliders Plugin -->
    <script src="{{ absolute_url(asset('assets/vendors/nouislider.min.js')) }}"></script>
    <!-- Select Plugin -->
    <script src="{{ absolute_url(asset('assets/vendors/jquery.select-bootstrap.js')) }}"></script>
    <!--  DataTables.net Plugin    -->
    <script src="{{ absolute_url(asset('assets/vendors/jquery.datatables.js')) }}"></script>
    <!-- Sweet Alert 2 plugin -->
    <script src="{{ absolute_url(asset('assets/vendors/sweetalert/js/sweetalert2.min.js')) }}"></script>
    <!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="{{ absolute_url(asset('assets/vendors/jasny-bootstrap.min.js')) }}"></script>
    <!--  Full Calendar Plugin    -->
    <script src="{{ absolute_url(asset('assets/vendors/fullcalendar.min.js')) }}"></script>
    <!-- TagsInput Plugin -->
    <script src="{{ absolute_url(asset('assets/vendors/jquery.tagsinput.js')) }}"></script>
    <!-- Material Dashboard javascript methods -->
    <script src="{{ absolute_url(asset('assets/js/amaze.js')) }}"></script>
    <!-- Material Dashboard DEMO methods, don't include it in your project! -->
    <script src="{{ absolute_url(asset('assets/js/demo.js')) }}"></script>
    <script type="text/javascript">
        $().ready(function(){
            $('#allInputsFormValidation').validate();
        });
    </script>
{% endblock %}